@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #db4c37;
    --sidebar-color: #fafafa;
    --default-padding: 10px;
    --padding-left: 5px;
    --hover-color: #eeeeee;
}

.hide {
    display: none;
}

.container-grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
}

button{
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
}

button:hover, nav ul li:hover{
    cursor: pointer;
}

/* Header */

header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: var(--primary-color);
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: var(--padding-left);
    color: #fff;
}

header  #add-task{
    color: #fff;
}

header button:hover {
    background-color: #e27065;
}

header .group{
    display: flex;
    align-items: center;
    gap: 10px;
}

header h1{
    font-size: 33px;
}

/* Sidebar */

nav {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    padding: var(--default-padding);
    gap: 30px;
    color: #2a2a2a;
}

nav ul {
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    padding-left: var(--padding-left);
    gap: 20px;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    padding: var(--default-padding);
}

nav ul li:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
}

nav ul li .group {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div h2 {
    color: #474545;
    font-weight: 500;
    font-size: 22px;
}

nav > div button {
    padding: 0;
    color: #474545;
    margin-right: 6px;
}

nav > div button:hover{
    color: #000;
}

.projects {
    flex:1 1 400px;
    overflow-y: scroll;
}

/* Project Page */

.main-content {
    display: flex;
    justify-content: center;
}

.project {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 600px;
    gap: 20px;
    position: relative;
}

.project .project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project button {
    font-size: 18px;

}

.project .btns button {
    padding: 5px 10px;
}

.project .btns button:hover {
    background-color: var(--hover-color);
}

.project .tasks {
    display: flex;
    flex-direction: column;
}

.project .tasks h3 {
    font-weight: 400;
}

.project .tasks li{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--hover-color);
    padding: 20px;
    
}

.completed {
    text-decoration: line-through;
}

.project .tasks .check:hover {
    cursor: pointer;
}

.project .tasks .task-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project .tasks .task-main {
    width: 100%;
}

.project .add-task {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project .add-task:hover {
    color: var(--primary-color);
}

.project .add-task span {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 25px;
}

.project .mini-modal{
    position: absolute;
    background-color: #fff;
    border: 1px solid var(--hover-color);
    padding: var(--default-padding);
    border-radius: 4px;
    color: #2a2a2a;
    
}

.project .sort-modal {
    top: 40px;
    left: 410px;
}

.project .delete-modal{
    top: 40px;
    left: 440px;
}

.project .mini-modal span {
    display: block;
    padding: 5px;
    border-radius: 4px;
}

.project .mini-modal span:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}